---
import Base from "#layouts/Base.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).slice(0, 3);
---

<Base>
  <main id="main" class="container pt-24">
    <h1>Blog</h1>
    <div hx-target="this" hx-push-url="false">
      <ul role="list">
        {
          articles.map(({ data: { title } }) => (
            <li>
              <h2>{title}</h2>
            </li>
          ))
        }
      </ul>
      <nav aria-label="pagination">
        <ul role="list">
          <li><a href="#" aria-label="page 1" aria-current="page">1</a></li>
          <li>
            <a href="/blog/page/2">Next <span class="sr-only">page</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
</Base>
