---
import Base from "#layouts/Base.astro";
import { getCollection } from "astro:content";

const articles = (await getCollection("articles")).slice(0, 3);
---

<Base>
  <main id="main" class="container pt-24">
    <h1>Blog</h1>
    <div hx-target="this">
      <ul role="list">
        {
          articles.map(({ data: { title } }) => (
            <li>
              <h2>{title}</h2>
            </li>
          ))
        }
      </ul>
      <nav aria-label="Blog Pagination">
        <a href="/">Next <span class="sr-only">page</span></a>
      </nav>
    </div>
  </main>
</Base>
