---
import Base from "#layouts/Base.astro";
import { slugify, sortedAndFilteredArticles } from "#utils";
import Breadcrumb from "#components/Breadcrumb.astro";
import ArticleList from "#components/ArticleList.astro";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Pagination from "#components/Pagination.astro";
import { pageSize } from "#data";

export async function getStaticPaths({ paginate }) {
  const articles = await sortedAndFilteredArticles();
  return paginate(articles, { pageSize });
}

const articles = await sortedAndFilteredArticles();

const tags = Array.from(
  new Set(articles.flatMap(({ data: { tags } }) => tags)).values()
);

type Props = {
  page: Page<CollectionEntry<'articles'>>
}

const { page } = Astro.props;
---

<Base>
  <Fragment slot="head">
    <title>Blog — Jacob Roling</title>
  </Fragment>
  <main id="main" class="container pt-header typography">
    <Breadcrumb />
    <h1 id="blog">Blog</h1>
    <p>Articles by tag: <Fragment set:html={tags.map(tag => `<a href="/blog/tag/${slugify(tag)}/page/1">${tag}</a>`).join(", ")} />.</p>
    <ArticleList articles={page.data} HeadingTag="h2" />
    <Pagination {page} />
  </main>
</Base>
