---
import Base from "#layouts/Base.astro";
---

<Base>
  <main id="main" class="container pt-header typography">
    <h1>404 Page not found</h1>
    <p>Sorry it looks like this page doesn't exist.</p>
    <a href="/">Go home</a>
  </main>
</Base>
