---
import Base from "#layouts/Base.astro";
---

<Base>
  <main id="main" class="pt-header container">
    <section class="masonry" style="column-count: 3">
      {
        Array(30)
          .fill(0)
          .map((_, i) => (
            <img
              src={`https://picsum.photos/seed/${i + 1}/1000/${Math.floor(Math.random() * 500 + 500).toString()}.webp`}
            />
          ))
      }
    </section>
  </main>
</Base>
