.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  font-size: 0.875em;
  font-weight: 500;
  padding: 0.25em;
  line-height: 1;

  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: transparent;

  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  @media print {
    padding: 0;
    font-size: inherit;
  }
}

.typography {
  h1 {
    font-size: 3em;
    line-height: 1.125;
    font-weight: 700;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.25;
    font-weight: 600;

    &:not(:first-child) {
      margin-block-start: 1em;
    }
  }

  h3 {
    line-height: 1.25;
    font-weight: 600;

    &:not(:first-child) {
      margin-block: 1em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-end: 0.5em;
    scroll-margin-block: var(--spacing-header, 4em);
  }

  p,
  ul,
  ol {
    margin-block-end: 1em;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.125em;

    transition-duration: var(--default-transition-duration);
    transition-timing-function: var(--default-transition-timing-function);
  }

  ul,
  ol {
    margin-inline-start: 2em;

    &[role="list"] {
      margin-inline-start: 0;
    }
  }

  /* Some screen readers dont work with hgroup so use a div with a 'hgroup' class */
  .hgroup {
    > h1,
    h2,
    h3,
    h4,
    h5 {
      margin-block-end: 0.25em;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  ul {
    max-width: var(--width-prose);
  }
}

.container {
  --_padding: 2rem;
  --_width: 100%;
  display: grid;
  grid-template-columns:
    [breakout-start] var(--_padding) 1fr [child-start] minmax(0, var(--_width))
    [child-end] 1fr var(--_padding) [breakout-end];

  @media (--sm) {
    --_width: 640px;
  }

  @media (--md) {
    --_width: 768px;
  }

  @media (--lg) {
    --_width: 1024px;
  }

  @media (--xl) {
    --_width: 1280px;
  }

  @media (--2xl) {
    --_width: 1536px;
  }

  & > * {
    grid-column: child;

    &.breakout {
      grid-column: breakout;
    }

    &.breakout-start {
      grid-column: breakout-start / child-end;
    }

    &.breakout-end {
      grid-column: child-start / breakout-end;
    }
  }
}

textarea {
  padding-inline: 0.5em;
  padding-block: 0.25em;
}

.expand-to-relative {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

fieldset {
  border-width: var(--border-width);
  padding: 1rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  > * {
    min-width: fit-content;
    flex: 1;
  }
}

.masonry {
  /* Set column-count inline to determine number of columns */
  --_gap: 0.5rem;
  column-width: auto;
  gap: var(--_gap);

  > * {
    width: 100%;
    object-position: center;
    object-fit: cover;
    break-inside: avoid;
    margin-bottom: var(--_gap);
  }
}

.sticky-headers {
  th[scope="row"] {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  th:not([scope="row"]) {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: max-content;

  font-weight: 500;
  line-height: 1.125;

  padding-inline: 1em;
  padding-block: 0.5em;

  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: transparent;

  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  &.icon {
    padding-inline: 0.5em;
  }
}

.breadcrumb {
  > li {
    display: inline;

    &:not(:last-child)::after {
      content: attr(data-delimiter, "/");
    }
  }
}

label {
  font-weight: 500;
  margin-block-end: 0.5em;
}

input,
select {
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: var(--border-radius);
}

textarea {
  margin-block-end: 1em;
  border-radius: var(--border-radius);
  padding: 0.5em;
}
