@layer preflight, components, utilities, theme;

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@import "@jroling/cleancss/dist/preflight.css" layer(preflight);
@import "@jroling/cleancss/dist/components.css" layer(components);
@import "@jroling/cleancss/dist/utilities.css" layer(utilities);

@import "./colors.css";

@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);
@custom-media --2xl (min-width: 1536px);

@theme {
  --spacing-header: var(--spacing-header);
  --shadow: none;
}

@layer theme {
  :root {
    color-scheme: light dark;

    --spacing-header: 3.125em;

    accent-color: var(--color-primary-solid);

    --outline-width: 2px;
    --outline-color: var(--color-primary-solid);
    --outline-style: solid;

    --tw-outline-style: var(--outline-style);

    --default-font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
      "Nimbus Sans", Arial, sans-serif;

    --border-width: 1px;
    --border-radius: 8px;
    --border-style: solid;

    --tw-border-style: var(--border-style);

    color: var(--color-neutral-text);
    background-color: var(--color-neutral-background);
    border-color: var(--color-neutral-border);
  }
}

@layer components {
  .outline {
    outline-color: var(--color-primary-solid);
  }

  h1,
  h2,
  h3,
  hgroup > p {
    color: var(--color-neutral-text-high-contrast);
  }

  .typography {
    a {
      text-decoration-color: var(--color-neutral-border-element);

      &:hover,
      &[aria-current="page"] {
        color: var(--color-neutral-text-high-contrast);
        text-decoration-color: var(--color-neutral-text-high-contrast);
      }
    }

    thead {
      th {
        background-color: var(--color-neutral-background-element);
        color: var(--color-neutral-text-high-contrast);
      }
    }

    tr {
      td {
        background-color: var(--color-neutral-background);
      }

      &:nth-child(even) {
        td {
          background-color: var(--color-neutral-background-subtle);
        }
      }
    }
  }

  label {
    color: var(--color-neutral-text-high-contrast);
  }

  ::selection,
  mark {
    color: var(--color-primary-text-solid-contrast);
    background-color: var(--color-primary-solid);
  }

  input,
  select {
    color: var(--color-neutral-text-high-contrast);
    background-color: var(--color-neutral-background-element);
    border-color: var(--color-neutral-border-element);
  }

  .badge {
    color: var(--color-neutral-text-high-contrast);
    background-color: var(--color-neutral-background-element);

    &.kbd {
      border-top-width: calc(var(--border-width) + 1px);
    }
  }

  .container {
    @media (--xl) {
      --_width: 1024px;
    }
  }

  .button {
    color: var(--color-neutral-text-high-contrast);

    &[aria-current="page"] {
      background-color: var(--color-neutral-hover);
    }

    > .badge {
      border-color: var(--color-neutral-border-element);
    }

    &:hover {
      background-color: var(--color-neutral-hover);

      > .badge {
        background-color: var(--color-neutral-hover);
      }
    }

    &.outlined {
      border-color: var(--color-neutral-border-element);

      &:hover {
        background-color: var(--color-neutral-hover);
        border-color: var(--color-neutral-border-hover);
      }
    }

    &.solid {
      background-color: var(--color-neutral-solid);
      border-color: var(--color-neutral-solid);
      color: var(--color-neutral-text-solid-contrast);

      &:hover {
        background-color: var(--color-neutral-solid-hover);
      }
    }

    &.primary {
      &.solid {
        background-color: var(--color-primary-solid);
        border-color: var(--color-primary-solid);
        color: var(--color-primary-text-solid-contrast);

        &:hover {
          background-color: var(--color-primary-solid-hover);
        }
      }
    }

    &.warning {
      &.outlined {
        border-color: var(--color-warning-border-element);

        &:hover {
          background-color: var(--color-warning-hover);
          border-color: var(--color-warning-border-hover);
        }
      }
    }
  }

  .utterances {
    margin: 0;
    max-width: var(--width-prose);
  }

  .astro-code {
    padding: 1em;
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    margin-block-end: 1em;
  }

  [data-icon] {
    font-size: 1.125em;
    line-height: 1;
  }
}
