@layer base, components, utilities, theme;
@import "./preflight.css" layer(base);
@import "./utilities.css" layer(utilities);
@import "./components.css" layer(components);
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);
@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/amber-dark.css";

@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);
@custom-media --2xl (min-width: 1536px);

@theme {
  --color-*: initial;

  --color-primary-background: var(--iris-1);
  --color-primary-background-subtle: var(--iris-2);
  --color-primary-background-element: var(--iris-3);
  --color-primary-hover: var(--iris-4);
  --color-primary-active: var(--iris-5);
  --color-primary-border: var(--iris-6);
  --color-primary-border-element: var(--iris-7);
  --color-primary-border-hover: var(--iris-8);
  --color-primary-solid: var(--iris-9);
  --color-primary-solid-hover: var(--iris-10);
  --color-primary-text: var(--iris-11);
  --color-primary-text-high-contrast: var(--iris-12);
  --color-primary-text-solid-contrast: #fff;

  --color-warning-background: var(--amber-1);
  --color-warning-background-subtle: var(--amber-2);
  --color-warning-background-element: var(--amber-3);
  --color-warning-hover: var(--amber-4);
  --color-warning-active: var(--amber-5);
  --color-warning-border: var(--amber-6);
  --color-warning-border-element: var(--amber-7);
  --color-warning-border-hover: var(--amber-8);
  --color-warning-solid: var(--amber-9);
  --color-warning-solid-hover: var(--amber-10);
  --color-warning-text: var(--amber-11);
  --color-warning-text-high-contrast: var(--amber-12);
  --color-warning-text-solid-contrast: #000;

  --color-neutral-background: var(--gray-1);
  --color-neutral-background-subtle: var(--gray-2);
  --color-neutral-background-element: var(--gray-3);
  --color-neutral-hover: var(--gray-4);
  --color-neutral-active: var(--gray-5);
  --color-neutral-border: var(--gray-6);
  --color-neutral-border-element: var(--gray-7);
  --color-neutral-border-hover: var(--gray-8);
  --color-neutral-solid: var(--gray-9);
  --color-neutral-solid-hover: var(--gray-10);
  --color-neutral-text: var(--gray-11);
  --color-neutral-text-high-contrast: var(--gray-12);
  --color-neutral-text-solid-contrast: #fff;

  --spacing-header: 8rem;
}

:root {
  color-scheme: light dark;

  --border-width: 1px;
  --border-radius: 4px;
  --border-style: solid;

  --tw-border-style: var(--border-style);

  color: var(--color-neutral-text);
  background-color: var(--color-neutral-background);
  border-color: var(--color-neutral-border);
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

h1,
h2,
h3,
hgroup > p {
  color: var(--color-neutral-text-high-contrast);
}

.typography {
  a {
    text-decoration-color: var(--color-neutral-border-element);
    transition-property: color, text-decoration-color;

    &:hover,
    &[aria-current="page"] {
      color: var(--color-neutral-text-high-contrast);
      text-decoration-color: var(--color-neutral-text-high-contrast);
    }
  }

  thead {
    background-color: var(--color-neutral-background-element);
    color: var(--color-neutral-text-high-contrast);
  }

  tbody {
    tr {
      background-color: var(--color-neutral-background-subtle);

      /* &:nth-child(even) {
        background-color: var(--color-neutral-background-subtle);
      } */
    }
  }
}

label {
  color: var(--color-neutral-text-high-contrast);
}

::selection,
mark {
  color: var(--color-primary-text-solid-contrast);
  background-color: var(--color-primary-solid);
}

input,
select {
  color: var(--color-neutral-text-high-contrast);
  background-color: var(--color-neutral-background-element);
  border-color: var(--color-neutral-border-element);
}

.badge {
  color: var(--color-neutral-text-high-contrast);
  background-color: var(--color-neutral-background-element);
}

.container {
  @media (--xl) {
    --_width: 1024px;
  }
}

.button {
  color: var(--color-neutral-text-high-contrast);
  transition-property: color, background-color, border-color, box-shadow;

  > .badge {
    border-color: var(--color-neutral-border-element);
    border-top-width: calc(var(--border-width) + 1px);
  }

  &:hover {
    background-color: var(--color-neutral-hover);

    > .badge {
      background-color: var(--color-neutral-hover);
    }
  }

  &.outline {
    border-color: var(--color-neutral-border-element);

    &:hover {
      background-color: var(--color-neutral-hover);
      border-color: var(--color-neutral-border-hover);
    }
  }

  &.solid {
    background-color: var(--color-neutral-solid);
    border-color: var(--color-neutral-solid);
    color: var(--color-neutral-text-solid-contrast);

    &:hover {
      background-color: var(--color-neutral-solid-hover);
    }
  }
}

.utterances {
  margin: 0;
  max-width: var(--width-prose);
}
