@layer base, components, utilities, theme;
@import "./preflight.css" layer(base);
@import "./utilities.css" layer(utilities);
@import "./components.css" layer(components);
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);
@import "@radix-ui/colors/iris.css";
@import "@radix-ui/colors/iris-dark.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-dark.css";

@custom-media --sm (min-width: 640px);
@custom-media --md (min-width: 768px);
@custom-media --lg (min-width: 1024px);
@custom-media --xl (min-width: 1280px);
@custom-media --2xl (min-width: 1536px);

@theme {
  --color-*: initial;

  --color-primary-background: var(--iris-1);
  --color-primary-background-subtle: var(--iris-2);
  --color-primary-background-element: var(--iris-3);
  --color-primary-hover: var(--iris-4);
  --color-primary-active: var(--iris-5);
  --color-primary-border: var(--iris-6);
  --color-primary-border-element: var(--iris-7);
  --color-primary-border-hover: var(--iris-8);
  --color-primary-solid: var(--iris-9);
  --color-primary-solid-hover: var(--iris-10);
  --color-primary-text: var(--iris-11);
  --color-primary-text-high-contrast: var(--iris-12);
  
  --color-neutral-background: var(--gray-1);
  --color-neutral-background-subtle: var(--gray-2);
  --color-neutral-background-element: var(--gray-3);
  --color-neutral-hover: var(--gray-4);
  --color-neutral-active: var(--gray-5);
  --color-neutral-border: var(--gray-6);
  --color-neutral-border-element: var(--gray-7);
  --color-neutral-border-hover: var(--gray-8);
  --color-neutral-solid: var(--gray-9);
  --color-neutral-solid-hover: var(--gray-10);
  --color-neutral-text: var(--gray-11);
  --color-neutral-text-high-contrast: var(--gray-12);
}

:root {
  --border-width: 1px;
  --border-radius: 4px;
  --border-style: solid;

  --tw-border-style: var(--border-style);

  color: var(--color-neutral-text);
  background-color: var(--color-neutral-background);
  border-color: var(--color-neutral-border);
}

h1, h2, h3, hgroup > p {
  color: var(--color-neutral-text-high-contrast);
}


.typography {
  a {
    text-decoration-color: var(--color-neutral-text);

    &:hover {
      text-decoration-color: var(--color-neutral-text-high-contrast);
    }
  }
}

.badge {
  color: var(--color-neutral-text-high-contrast);
  background-color: var(--color-neutral-background-element);
}

.container {
  @media (--xl) {
    --_width: 1024px;
  }
}
