---
const parts = Astro.url.pathname.split("/").slice(1);
const current = parts.pop();
---

<nav aria-label="breadcrumb" class="block min-h-fit">
  <ul class="breadcrumb" role="list">
    {
      parts.map((part, i) => (
        <li data-delimiter="/" role="listitem">
          <a href={`/${parts.slice(0, i + 1).join("/")}`}>{part}</a>
        </li>
      ))
    }
    <li data-delimiter="/" role="listitem">
      <a href="#" aria-current="page">{current}</a>
    </li>
  </ul>
</nav>
