---
const parts = Astro.url.pathname.split("/").slice(1);
const current = parts.pop();
---

<nav aria-label="breadcrumb" class="mb-8 block min-h-fit">
  <ul class="breadcrumb m-0">
    {
      parts.map((part, i) => (
        <li data-delimiter="/">
          <a href={`/${parts.slice(0, i + 1).join("/")}`}>{part}</a>
        </li>
      ))
    }
    <li data-delimiter="/">
      <a href={Astro.url.pathname}>{current}</a>
    </li>
  </ul>
</nav>
