---
import type { Page } from 'astro';
import type { CollectionEntry } from 'astro:content';

type Props = {
  page: Page<CollectionEntry<'articles'>>
}

const { page } = Astro.props;
---

<nav aria-label="pagination">
  <ul role="list" class="flex items-center gap-4">
    {
      page.url.prev ? (
        <li>
          <a href={page.url.prev}>
            Previous <span class="sr-only">page</span>
          </a>
        </li>
      ) : null
    }
    <li>
      <a href={Astro.url.pathname} aria-current="page">{page.currentPage}</a>
    </li>
    {
      page.url.next ? (
        <li>
          <a href={page.url.next}>
            Next <span class="sr-only">page</span>
          </a>
        </li>
      ) : null
    }
  </ul>
</nav>
