---
import { Icon } from "astro-icon/components";
import "#/style/global.css";
import Search from "#components/Search.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" dir="ltr" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL.href.slice(0, -1)} />
    <!-- htmx Extensions -->
    <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"
    ></script>
    <script src="https://unpkg.com/htmx-route-announcer/index.js"></script>
    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jacob Roling"
      href={`${Astro.site}rss.xml`}
    />
    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- PageFind -->
    {import.meta.env.PROD ? <script src="/pagefind/pagefind-ui.js" /> : null}
    <!-- Custom -->
    <slot name="head" />
    <!-- Generated -->
  </head>
  <body hx-boost="true" hx-ext="morph, route-announcer" class="text-[1.125rem]">
    <header
      class="z-10 print:hidden fixed container w-full top-0 border-b bg-neutral-background-subtle"
    >
      <div class="breakout container bg-warning-background-element text-warning-text-high-contrast py-1">
        <p class="text-center"><span aria-hidden="true">🚧</span> This website is currently under construction. <span aria-hidden="true">🚧</span></p>
      </div>
      <nav aria-label="primary" class="py-2">
        <ul class="flex gap-4" role="list">
          <li class="sr-only focus-within:not-sr-only">
            <a class="button" href="#main">Skip to content</a>
          </li>
          <li>
            <a class="button" href="/">Home</a>
          </li>
          <li>
            <a class="button" href="/blog/page/1">Blog</a>
          </li>
          <li>
            <a class="button" href="/#projects">Projects</a>
          </li>
          <!-- <li>
            <label for="theme-switcher">Theme</label>
            <select name="theme-switcher" id="theme-switcher">
              <option value="auto">Auto</option>
              <option value="light">Light</option>
              <option value="dark">Dark</option>
            </select>
          </li> -->
          <li>
            <button class="button" onclick="print()">Print</button>
          </li>
          <li class="ml-auto">
            <button class="button outline" onclick="document.getElementById('search').showModal()">
              <Icon
                class="inline"
                name="heroicons:magnifying-glass"
                aria-hidden="true"
              />
              Search
              <span class="badge">
                <kbd>Ctrl</kbd> + <kbd>k</kbd>
              </span>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <slot />

    <footer
      class="mt-8 container typography print:hidden bg-neutral-background-subtle py-4 border-t"
    >
      <nav aria-label="footer">
        <ul class="flex gap-4 items-center" role="list">
          <li>
            <a href="/sitemap-index.xml">Sitemap</a>
          </li>
          <li>
            <a href="/rss.xml">RSS</a>
          </li>
        </ul>
      </nav>
      <p class="mt-4">&copy; {new Date().getFullYear()} Jacob Roling</p>
    </footer>

    <Search />

    <script>
      import htmx from "htmx.org";
      window.htmx = htmx;
    </script>
  </body>
</html>
