---
import { Icon } from "astro-icon/components";
import "#/style/global.css";
import Search from "#components/Search.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" dir="ltr" data-theme="auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL.href.slice(0, -1)} />
    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jacob Roling"
      href={`${Astro.site}rss.xml`}
    />
    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Partytown -->
    <!-- <script type="text/partytown">
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host.replace(".i.posthog.com","-assets.i.posthog.com")+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('phc_j9j8JsVxiXDBu7g9lz1F6NYbuOvFSQspdWjXWzOOvbW',{api_host:'https://us.i.posthog.com'})
    </script> -->
    <!-- Custom -->
    <slot name="head" />
    <!-- Generated -->
  </head>
  <body class="text-[1.125rem]" hx-boost="true" hx-ext="morph, route-announcer">
    <header
      class="z-10 print:hidden fixed w-full top-0 border-b bg-neutral-background-subtle"
      im-preserve='true'
    >
      <dialog id="banner-dialog" class="static w-full" open>
        <div class="flex items-center px-4 bg-warning-background-element text-warning-text-high-contrast py-1 border-b border-warning-border">
          <p class="text-center grow"><span aria-hidden="true">🚧</span> This website is currently under construction. <span aria-hidden="true">🚧</span></p>
          <button class="button icon warning outlined" onclick="document.getElementById('banner-dialog').close()">
            <Icon name="heroicons:x-mark" aria-hidden="true" />
            <span class="sr-only">
              Close banner message
            </span>
          </button>
        </div>
      </dialog>
      <nav class="container py-2" aria-label="primary" class="py-2">
        <ul class="flex gap-4" role="list">
          <li class="sr-only focus-within:not-sr-only">
            <a class="button" href="#main">Skip to content</a>
          </li>
          <li>
            <a class="button" href="/">Home</a>
          </li>
          <li>
            <a class="button" href="/blog/page/1">Blog</a>
          </li>
          <li>
            <a class="button" href="/#projects">Projects</a>
          </li>
          <li class="ml-auto">
            <button class="button outlined" onclick="document.getElementById('search').showModal()">
              <Icon
                class="inline"
                name="heroicons:magnifying-glass"
                aria-hidden="true"
              />
              Search
              <span class="badge">
                <kbd>Ctrl</kbd> + <kbd>k</kbd>
              </span>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <slot />

    <footer
      class="container typography print:hidden bg-neutral-background-subtle py-4 border-t"
    >
      <nav aria-label="footer">
        <ul class="flex gap-4 items-center max-w-full" role="list">
          <li>
            <a href="/sitemap-index.xml">Sitemap</a>
          </li>
          <li>
            <a href="/rss.xml">RSS</a>
          </li>
          <li class="ml-auto">
            <label for="theme-select">Theme: </label>
            <select data-controller="theme" name="theme" id="theme-select">
              <option value="auto">Auto</option>
              <option value="light">Light</option>
              <option value="dark">Dark</option>
            </select>
          </li>
        </ul>
      </nav>
      <p class="mt-4">&copy; {new Date().getFullYear()} Jacob Roling</p>
    </footer>

    <Search />

    <script>
      import htmx from "htmx.org";
      import { Application } from "@hotwired/stimulus";
      import ThemeController from "#controllers/theme_controller";
      import RouteAnnouncer from "htmx-route-announcer";
      
      window.htmx = htmx;
      window.htmx.defineExtension("route-announcer", RouteAnnouncer);
      
      import("idiomorph/dist/idiomorph-ext.js");
      
      window.Stimulus = Application.start();
      window.Stimulus.register("theme", ThemeController);
    </script>
  </body>
</html>
