---
import "#/style/global.css";
import Header from "#components/Header.astro";
import Footer from "#components/Footer.astro";
import Search from "#components/Search.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" dir="ltr" data-theme="auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL.href.slice(0, -1)} />
    <meta name="theme-color" content="var(--color-neutral-background-subtle)" />
    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jacob Roling"
      href={`${Astro.site}rss.xml`}
    />
    <!-- KaTeX -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
      integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
      crossorigin="anonymous"
    />
    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Custom -->
    <slot name="head" />
    <!-- Generated -->
  </head>
  <body class="text-[1.125rem]" data-controller="pagefind" up-main="true">
    <Header />

    <slot />

    <Footer />

    <Search />

    <script>
      import { Application } from "@hotwired/stimulus";
      import ThemeController from "#controllers/theme_controller";
      import PagefindController from "#controllers/pagefind_controller";
      import TOCController from "#controllers/toc_controller";
      import { registerComponents } from "stimui";
      import "unpoly";

      window.up.log.disable();
      window.up.link.config.followSelectors.push("a[href]");
      window.up.link.config.instantSelectors.push("a[href]");
      window.up.link.config.preloadSelectors.push("a[href]");
      window.up.form.config.submitSelectors.push("form");

      window.Stimulus = Application.start();
      window.Stimulus.register("theme", ThemeController);
      window.Stimulus.register("pagefind", PagefindController);
      window.Stimulus.register("toc", TOCController);
      registerComponents(window.Stimulus);

      const metaThemeColor = document.querySelector('meta[name="theme-color"]');
      metaThemeColor.setAttribute(
        "content",
        window
          .getComputedStyle(document.documentElement)
          .getPropertyValue("--color-neutral-background-subtle"),
      );

      document.addEventListener("theme:switch", () => {
        metaThemeColor.setAttribute(
          "content",
          window
            .getComputedStyle(document.documentElement)
            .getPropertyValue("--color-neutral-background-subtle"),
        );
      });
    </script>
  </body>
</html>
