---
import "#/style/global.css";
import { Icon } from "astro-icon/components";
import Search from "#components/Search.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" dir="ltr" data-theme="auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL.href.slice(0, -1)} />
    <meta name="theme-color" content="var(--color-neutral-background-subtle)" />
    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jacob Roling"
      href={`${Astro.site}rss.xml`}
    />
    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css" integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous">
    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Custom -->
    <slot name="head" />
    <!-- Generated -->
  </head>
  <body class="text-[1.125rem]" data-controller="pagefind" hx-boost="true" hx-ext="morph, route-announcer, preload" hx-swap="morph:innerHTML">
    <header
      id='header'
      class="z-10 print:hidden sticky w-full top-0 border-b bg-neutral-background-subtle"
      hx-preserve="true"
      hx-preload="mouseover"
    >
      <dialog id="banner-dialog" class="static w-full" open>
        <div class="container bg-warning-background-element text-warning-text-high-contrast py-1 border-b border-warning-border">
          <div class="flex gap-8 items-center justify-between">
            <p class="text-center grow">This website is currently under construction. <span aria-hidden="true">🚧</span></p>
            <button class="button icon warning outlined" onclick="document.getElementById('banner-dialog').close()">
              <Icon name="heroicons:x-mark" aria-hidden="true" />
              <span class="sr-only">
                Close banner message
              </span>
            </button>
          </div>
        </div>
      </dialog>
      <nav class="container py-2" aria-label="primary" class="py-2">
        <ul class="flex gap-4" role="list">
          <li class="sr-only focus-within:not-sr-only" role="listitem">
            <a class="button" href="#main">Skip to content</a>
          </li>
          <li role="listitem">
            <a class="button -ml-4" href="/">Jacob Roling</a>
          </li>
          <li class="hidden md:list-item" role="listitem">
            <a class="button" href="/blog/page/1">Blog</a>
          </li>
          <li class="hidden md:list-item" role="listitem">
            <a class="button" href="/#projects">Projects</a>
          </li>
          <li class="ml-auto hidden md:list-item" role="listitem">
            <button class="button outlined" data-action="pagefind#showModal">
              <Icon
                class="inline"
                name="heroicons:magnifying-glass"
                aria-hidden="true"
              />
              Search
              <span class="badge kbd">
                <kbd>Ctrl</kbd> + <kbd>k</kbd>
              </span>
            </button>
          </li>
          <li class="ml-auto md:hidden" data-controller="disclosure" role="listitem">
            <button data-disclosure-target="button" class="md:hidden button icon outlined group">
              <Icon
                class="group-aria-expanded:hidden"
                name="heroicons:bars-3"
                aria-hidden="true"
              />
              <Icon
                class="hidden group-aria-expanded:block"
                name="heroicons:x-mark"
                aria-hidden="true"
              />
              <span class="sr-only">
                Close
              </span>
            </button>
            <ul data-disclosure-target="panel" class="hidden data-[expanded]:block absolute top-full left-0 w-full max-h-screen border-y bg-neutral-background-subtle py-4 px-8 [&_.button]:w-full overflow-y-scroll" role="list">
              <li role="listitem">
                <button class="button" data-action="pagefind#showModal disclosure#close">
                  <span class="grow">
                    Search
                  </span>
                  <Icon
                    class="inline"
                    name="heroicons:magnifying-glass"
                    aria-hidden="true"
                  />
                </button>
              </li>
              <li role="listitem">
                <a href="/blog/page/1" class="button" data-action="disclosure#close">
                  <span class="grow">
                    Blog
                  </span>
                </a>
              </li>
              <li role="listitem">
                <a href="/#projects" class="button" data-action="disclosure#close">
                  <span class="grow">
                    Projects
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <slot />

    <footer
      class="container typography print:hidden bg-neutral-background-subtle py-4 border-t"
    >
      <nav aria-label="footer">
        <ul class="flex gap-4 items-center max-w-full" role="list">
          <li>
            <a href="/sitemap-index.xml">Sitemap</a>
          </li>
          <li>
            <a href="/rss.xml">RSS</a>
          </li>
          <li class="ml-auto">
            <label for="theme-select">Theme: </label>
            <select data-controller="theme" name="theme" id="theme-select">
              <option value="auto">Auto</option>
              <option value="light">Light</option>
              <option value="dark">Dark</option>
            </select>
          </li>
        </ul>
      </nav>
      <p class="mt-4">&copy; {new Date().getFullYear()} Jacob Roling</p>
    </footer>

    <Search />

    <script>
      import htmx from "htmx.org";
      import Preload from "#preload";
      import RouteAnnouncer from "htmx-route-announcer";
      import { Application } from "@hotwired/stimulus";
      import ThemeController from "#controllers/theme_controller";
      import PagefindController from "#controllers/pagefind_controller";
      import TOCController from "#controllers/toc_controller";
      import { registerComponents } from "stimui";

      window.htmx = htmx;
      window.htmx.config.globalViewTransitions = true;
      window.htmx.defineExtension("route-announcer", RouteAnnouncer);
      window.htmx.defineExtension("preload", Preload);
      await import("idiomorph/dist/idiomorph-ext.js");
     
      window.Stimulus = Application.start();
      window.Stimulus.register("theme", ThemeController);
      window.Stimulus.register("pagefind", PagefindController);
      window.Stimulus.register("toc", TOCController);
      registerComponents(window.Stimulus);

      const metaThemeColor = document.querySelector('meta[name="theme-color"]');
      metaThemeColor.setAttribute("content", window.getComputedStyle(document.documentElement).getPropertyValue("--color-neutral-background-subtle"));

      document.addEventListener("theme:switch", () => {
        metaThemeColor.setAttribute("content", window.getComputedStyle(document.documentElement).getPropertyValue("--color-neutral-background-subtle"));
      });

      window.htmx.on('htmx:afterSwap', () => {
        Array.from(document.querySelectorAll("header a").values()).forEach(a => {
          if (a.getAttribute("href") === window.location.pathname) {
            a.setAttribute("aria-current", "page");
            return;
          }
          a.removeAttribute("aria-current");
        });
      });
    </script>
  </body>
</html>
