---
import "../style/global.css";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Jacob Roling"
      href={`${Astro.site}rss.xml`}
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
